@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SF UI Display', sans-serif;
}

:root{
  --black: #332D27;
  --red: #8A0015;
  --white: #F7F7F0;
  --whiteNone: #FFFFFF;
  --fontWeightLight: 300;   
  --fontWeightRegular: 400;    
  --fontWeightMedium: 600;      
  --fontWeightBold: 800;
  --borderRadius: 50px;
  --animationAll: all .2s ease;
  --borderSize: 1px solid;
}